

#header {
    background-color: #aaa;
    height: 100px;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #aaa;
    color: white;
    text-align: center;
  }


